/* imports */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=B612+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
/*---------*/
/* animations */
body{
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}
/* Top Block */
.top_block{
  overflow: hidden;
  height: 700px;
  width: 100vw;
  background:#FE7860;
}
.fill{
  flex-direction: column;
  display: flex;
  padding: 50px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  top: -100px;
  position: relative;
  width: 60%;
  height: 100%;
  background: #506cf0;
  clip-path: inset(0% 0 round 0 800px 20px 0%);
  z-index: 3;
}
.min_fill{
  transform: translateY(-400px);
  right: 210px;
  z-index: 0;
  clip-path: inset(0px 0% round 0 600px 0% 0%);
  position: absolute;
  background: #506cf0;
  width: 700px;
  height: 300px;
}

/* screen */
.screen{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 20px;
  left:550px;
  z-index: 0;
  position: absolute;
  width: 770px;
  height: 520px;
  background: #fbfbfb;
}
.border{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 50px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  border: 2px solid #474747;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two{
  color: #FE7860;
}
.devs{
  color: #506cf0;
}
.fiz{
  background: #506cf0;
  width: 1px;
  height: 5px;
  border-right: 10px solid #506cf0;
  border-left: 10px solid #FE7860;
}
/* menu */
.menu{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.link{
  font-size: 26px;
  color: aliceblue;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 60px;
  text-decoration: none;
  font-family: 'B612 Mono', monospace;
}
.main_link{
  color: aliceblue
}
/* text Styles */
.head_title{
  font-size: 34px;
  font-family: 'Titillium Web', sans-serif;
 font-weight: bold;
  color: aliceblue;
}
.head_txt{
  font-size: 18px;
  display: block;
  width: 500px;
  height: 300px;
  font-family: 'Titillium Web', sans-serif;
  color: aliceblue;
}
/* MAIN */
.main{
  width: 100vw;
  min-height: 700px;
  background: linear-gradient(180deg,#FE7860,#fff) ;
}
.min_main_fill{
  clip-path: inset(0 0 round 0 0px 320px 0px);
  width: 570px;
  height: 470px;
  background: #506cf0;
  position: absolute;
  left: 0;
}
.main_fill{
  clip-path: inset(0 0 round 0 0 300px 0);
  width: 700px;
  height: 300px;
  background: #506cf0;
  position: absolute;
  right: 210px;
}