body{
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}
/* TOP BLOCK */
.top_block{
  width: 100%;
  height: 700px;
}
.header{
  width: 100%;
  height: 7%;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
  background: #bdbdbd;
}
/* MENU */
.menu{
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu a{
  position: relative;
  text-decoration: none;
  color: azure;
  font-family: sans-serif;
  font-weight: 300;

}
.menu a:hover{ 
  color:#b4c2ef;
}
.menu a::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: azure;
  bottom: 0;
}
/* MOUNTAIN */
.parallax{
  height: 93%;
  width: 100%;
  background: #b4c2ef;
  box-sizing: border-box;
}
.front{
  filter: blur(.4px);
  transform: scale(1.2);
  position: relative;
  top:320px;
  width: 100%;
  height: 60%;
  background: url(../../images/mounts.png) no-repeat;
  background-size: cover;
  z-index: 3;
}
.mou{
  transition: .7s;
}
.mou:hover{
  filter: blur(0)
}
.mid{
  filter: blur(1px);
  left:-60px;
  transform: scale(1.4)rotateY(180deg) ;
  left: 100px;
  top: -143px;
  position: relative;
  width: 100%;
  height: 40%;
  background: url(../../images/mounts.png) no-repeat;
  background-size: cover;
  z-index: 2;
}
.back{
  filter: blur(2px);
  left: -530px;
  top: -420px;
  position: relative;
  z-index: 1;
  background: url(../../images/mounts.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  transform: scale(1.8) rotateY(180deg);
}
/* main */
.main{
  width: 100vw;
  min-height: 800px;
}