/* imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
/*---------*/
body{
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}
/* Top Block */
.top_block{
  height: 600px;
  width: 100vw;
  background:#FE7860;
}
.l{
  filter: blur(2px);
  background:#9101ff;
  height: 600px;
  width: 70%;
  clip-path: polygon(0 0,100% 0,780px 30% , 300px 70%, 00px 100%);
}
/*  */